<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>@ViewBag.Title</title>
        @System.Web.Optimization.Styles.Render("~/css")
    </head>
    <body>
        @System.Web.Optimization.Scripts.Render("~/jquery")
        @System.Web.Optimization.Scripts.Render("~/dataTables")
        @System.Web.Optimization.Scripts.Render("~/knockout")

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Acme Stocks", "Index", "Home", new { @class = "navbar-brand" })
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Index", "Index", "Home")</li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            @RenderBody()
        </div>
        
        @RenderSection("scripts", required: false)
    </body>
</html>